.titleClass{
    background: black;
    background-image: url("images/RickAndMortyLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    margin-bottom: -20px
}